In [ ]:
#--------------------------------------Install necessary tools---------------------------------------------

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\asus\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\asus\anaconda3\lib\site-packages (from pymongo) (2.3.0)

In [ ]:
#-------------------------------------import necessary modules----------------------------------------------

In [2]:
import pymongo as pym

In [ ]:
#----------------------------------setting up connection_string, database_name, collection_name---------------------- 

'''
client = it holds  pym.MongoClient('connectionstring---->local_ip (or) url of mongodbcompass/mongoserver')
db = it holds      client[__'database_name'__]
info = it holds    db.__collection_name__
'''

In [3]:
client = pym.MongoClient('mongodb+srv://narennravi:Sand4906@newcluster.utjqhec.mongodb.net/test')
db = client['Datas']
info = db.Telephone_dirct

In [ ]:
#--------------------------------- sample records to perform "CRUD operation" ---------------------------------------

In [4]:
records = [{'name':'Leo', 'age':45, 'location':'kashmir', 'phonenumber':8015787170},
           {'name':'Trisha', 'age':39, 'location':'Delhi', 'phonenumber':8489780743},
           {'name':'Rolex', 'age':45, 'location':'mumbai', 'phonenumber':9791970646},
           {'name':'Priyanand', 'age':34, 'location':'mumbai', 'phonenumber':9791970640},
           {'name':'GVM', 'age':47, 'location':'mumbai', 'phonenumber':7845035760},
           {'name':'Arjun', 'age':47, 'location':'kashmir', 'phonenumber':9894245126},
           {'name':'Lokesh', 'age':29, 'location':'Coimbatore', 'phonenumber':7708889819}]

In [5]:
# Above records will be stored into variable "info" --> which refers collection name 

info.insert_many(records)

In [ ]:
#------------------------------------------------Display record (CREATED)-----------------------------------------------

In [6]:
# Display the output which we done(create,retrieve,update,delete) using "info"

for m in info.find():
    print(m)

{'_id': ObjectId('63eddd585c42a995ac86fd52'), 'name': 'Leo', 'age': 45, 'location': 'kashmir', 'phonenumber': 8015787170}
{'_id': ObjectId('63eddd585c42a995ac86fd53'), 'name': 'Trisha', 'age': 39, 'location': 'Delhi', 'phonenumber': 8489780743}
{'_id': ObjectId('63eddd585c42a995ac86fd54'), 'name': 'Rolex', 'age': 45, 'location': 'mumbai', 'phonenumber': 9791970646}
{'_id': ObjectId('63eddd585c42a995ac86fd55'), 'name': 'Priyanand', 'age': 34, 'location': 'mumbai', 'phonenumber': 9791970640}
{'_id': ObjectId('63eddd585c42a995ac86fd56'), 'name': 'GVM', 'age': 47, 'location': 'mumbai', 'phonenumber': 7845035760}
{'_id': ObjectId('63eddd585c42a995ac86fd57'), 'name': 'Arjun', 'age': 47, 'location': 'kashmir', 'phonenumber': 9894245126}
{'_id': ObjectId('63eddd585c42a995ac86fd58'), 'name': 'Lokesh', 'age': 29, 'location': 'Coimbatore', 'phonenumber': 7708889819}

In [ ]:
#------------------------------------------------ RETRIEVAL ------------------------------------------------------------

In [7]:
# Display the "1st value" from @record

info.find_one()

{'_id': ObjectId('63eddd585c42a995ac86fd52'),
 'name': 'Leo',
 'age': 45,
 'location': 'kashmir',
 'phonenumber': 8015787170}

In [8]:
# Display "particular location --> Coimbatore" from @record

for m in info.find({"location":"Coimbatore"}):
    print(m)

{'_id': ObjectId('63eddd585c42a995ac86fd58'), 'name': 'Lokesh', 'age': 29, 'location': 'Coimbatore', 'phonenumber': 7708889819}

In [9]:
# Display only person who are "45 & above 45" age group
# $gte ----> greater than equalto 

for m in info.find({"age":{"$gte":45} }):
    print(m)

{'_id': ObjectId('63eddd585c42a995ac86fd52'), 'name': 'Leo', 'age': 45, 'location': 'kashmir', 'phonenumber': 8015787170}
{'_id': ObjectId('63eddd585c42a995ac86fd54'), 'name': 'Rolex', 'age': 45, 'location': 'mumbai', 'phonenumber': 9791970646}
{'_id': ObjectId('63eddd585c42a995ac86fd56'), 'name': 'GVM', 'age': 47, 'location': 'mumbai', 'phonenumber': 7845035760}
{'_id': ObjectId('63eddd585c42a995ac86fd57'), 'name': 'Arjun', 'age': 47, 'location': 'kashmir', 'phonenumber': 9894245126}

In [10]:
# Display only person who are "39 & below 39" age group
# $lte ----> lesser than equalto 

for m in info.find({"age":{"$lte":39} }):
    print(m)

{'_id': ObjectId('63eddd585c42a995ac86fd53'), 'name': 'Trisha', 'age': 39, 'location': 'Delhi', 'phonenumber': 8489780743}
{'_id': ObjectId('63eddd585c42a995ac86fd55'), 'name': 'Priyanand', 'age': 34, 'location': 'mumbai', 'phonenumber': 9791970640}
{'_id': ObjectId('63eddd585c42a995ac86fd58'), 'name': 'Lokesh', 'age': 29, 'location': 'Coimbatore', 'phonenumber': 7708889819}

In [ ]:
#--------------------------------------------------- UPDATE ----------------------------------------------------------------

In [13]:
# Using "update_one" keyword in 8015787170(respective ph.no) to update his name,age,location using "$set" 

info.update_one({"phonenumber":8015787170}, {"$set":{"name":"Thalapathy_Vijay", "age":43, "location":"mumbai"}})

In [14]:
# Here displays updated version of 8015787170 - person details 
# name,age,location is updated

for m in info.find({"phonenumber":8015787170}):
    print(m)

{'_id': ObjectId('63eddd585c42a995ac86fd52'), 'name': 'Thalapathy_Vijay', 'age': 43, 'location': 'mumbai', 'phonenumber': 8015787170}

In [ ]:
#-------------------------------------------------- DELETE ------------------------------------------------------------------

In [15]:
# delete_one used to delete particular person record ---> using name/phone-num/age/location
# Rolex named-details were deleted from records

info.delete_one({"name": "Rolex"})

In [16]:
# See here "details of Rolex" is deleted from records

for m in info.find():
    print(m)

{'_id': ObjectId('63eddd585c42a995ac86fd52'), 'name': 'Thalapathy_Vijay', 'age': 43, 'location': 'mumbai', 'phonenumber': 8015787170}
{'_id': ObjectId('63eddd585c42a995ac86fd53'), 'name': 'Trisha', 'age': 39, 'location': 'Delhi', 'phonenumber': 8489780743}
{'_id': ObjectId('63eddd585c42a995ac86fd55'), 'name': 'Priyanand', 'age': 34, 'location': 'mumbai', 'phonenumber': 9791970640}
{'_id': ObjectId('63eddd585c42a995ac86fd56'), 'name': 'GVM', 'age': 47, 'location': 'mumbai', 'phonenumber': 7845035760}
{'_id': ObjectId('63eddd585c42a995ac86fd57'), 'name': 'Arjun', 'age': 47, 'location': 'kashmir', 'phonenumber': 9894245126}
{'_id': ObjectId('63eddd585c42a995ac86fd58'), 'name': 'Lokesh', 'age': 29, 'location': 'Coimbatore', 'phonenumber': 7708889819}

In [23]:
# delete_many used to delete multiple items of record
# Here we delete details whose location --> mumbai,kashmir,Delhi

info.delete_many({"location":"mumbai"})
info.delete_many({"location":"kashmir"})
info.delete_many({"location":"Delhi"})

In [24]:
#see here "details of mumbai,kashmir,Delhi" is deleted from records

for m in info.find():
    print(m)

{'_id': ObjectId('63eddd585c42a995ac86fd58'), 'name': 'Lokesh', 'age': 29, 'location': 'Coimbatore', 'phonenumber': 7708889819}